name: CI Workflow

on:
  # Test only: select user
  workflow_dispatch:
    inputs:
      user:
        description: 'User'
        required: true
        type: choice
        default: 'user99'
        options:
          - user01
          - user02
          - user03
          - user04
          - user05
  # push:
  #   branches:
  #     - "main"
  #     - "dev"

env:
  # Configuration - to change to Harbor once it's available
  REGISTRY_URL: "docker.io"
  REGISTRY_USERNAME: "rhapsody008"
  IMAGE_NAME: "sample-nodejs-webapp"
  
  # GitOps Configuration
  GITOPS_REPO: "rhapsody008/devops-lab-gitops"

jobs:
  # ---------------------------------------------------------------------------
  # JOB 1: Build and Push
  # ---------------------------------------------------------------------------
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Short SHA as TAG
        id: vars
        run: echo "TAG=${{ github.event.inputs.user }}-$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY_URL }}
          username: ${{ env.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          echo "Building image..."
          docker build -t $REGISTRY_URL/$REGISTRY_USERNAME/$IMAGE_NAME:$TAG .
          echo "Pushing image to Registry..."
          docker push $REGISTRY_URL/$REGISTRY_USERNAME/$IMAGE_NAME:$TAG

  # ---------------------------------------------------------------------------
  # JOB 2: Template & Commit
  # ---------------------------------------------------------------------------
  update-manifest:
    needs: build-and-push
    runs-on: ubuntu-latest
    # To make this "Manual", go to Repo Settings -> Environments -> Create "production" -> Add Reviewers
    # environment: production 
    
    steps:
      - name: Checkout GitOps Repo
        uses: actions/checkout@v4
        with:
          # We need a token with write access to push changes back
          repository: ${{ env.GITOPS_REPO }}
          token: ${{ secrets.ACCESS_TOKEN }} 
          ref: main

      - name: Set Short SHA as TAG
        run: echo "TAG=$(echo ${{ github.event.inputs.user }}-${{ github.sha }} | cut -c1-7)" >> $GITHUB_ENV

      - name: Generate Kustomize Manifest
        run: |
          git config --global user.email "yi.zhou@nutanix.com"
          git config --global user.name "Zhou Yi"

          cd ./workloads/${{ github.event.inputs.user }}
          
          cat <<EOF > kustomization.yaml
          apiVersion: kustomize.config.k8s.io/v1beta1
          kind: Kustomization
          resources:
            - webapp.yaml

          namePrefix: "${{ github.event.inputs.user }}-"

          labels:
            - pairs:
                app.kubernetes.io/owner: ${{ github.event.inputs.user }}
              includeSelectors: true

          images:
          - name: myapp
            newName: ${{ env.REGISTRY_USERNAME }}/${{ env.IMAGE_NAME }}
            newTag: ${{ env.TAG }}
          EOF

      - name: Commit and Push
        run: |
          # Check if there are changes
          if [[ -n $(git status -s) ]]; then
            git add ./workloads/${{ github.event.inputs.user }}/kustomization.yaml
            git commit -m "Update image tag to $TAG"
            git push origin main
            echo "Manifest updated and pushed successfully."
          else
            echo "No changes to commit."
          fi